@use "../../assets/shared.scss";

.user-profile {
  & > h2 {
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    color: shared.$gray100;
    margin-bottom: 15px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    & > div {
      background: shared.$vanilla20;
      border-radius: 4px;
      padding: 8px;
    }
    &__item {
      display: flex;
      flex-direction: column;
      gap: 8px;
      hr {
        border-radius: 24px;
        background: shared.$vanilla50;
        border: 1px solid shared.$vanilla50;
        margin: 8px 0;
      }
      &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          font-weight: 800;
          font-size: 20px;
          line-height: 27px;
          color: shared.$gray100;
        }
        button {
          background: none;
          border: none;
          color: shared.$blue;
          font-weight: 700;
          font-size: 14px;
          line-height: 22px;
          cursor: pointer;
        }
      }
      &__body {
        width: 330px;
      }
      &__footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }
  &__statistics {
    padding: 8px 24px !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    &__raiting {
      font-weight: 700;
      font-size: 24px;
      line-height: 22px;
      color: shared.$gray100;
    }
    &__achieve {
      display: flex;
      align-items: center;
      gap: 5px;
      img {
        width: 20px;
        height: 20px;
      }
      p {
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        color: shared.$gray100;
      }
    }
  }
  &__logout {
    background: transparent;
    border: none;
    width: fit-content;
    color: shared.$red;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
