@use "../../../../assets/shared";

.user-info {
  width: 163px;
  height: 74px;
  background: shared.$vanilla20;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  &__photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: shared.$gray50;
  }
  &__content {
    &__name {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 8px;
      * {
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: shared.$gray100;
      }
      h5 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 65px;
      }
    }
    &__achieve {
      display: flex;
      gap: 4px;
      align-items: center;
      img {
        width: 15px;
        height: 21px;
      }
      p {
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
        color: shared.$gray100;
      }
    }
  }
}
