@use "../../assets/shared";

.scroll-up {
  min-height: inherit;
  height: 100%;

  &__btn {
    border: none;
    position: fixed;
    bottom: 25%;
    right: 20%;
    width: 40px;
    height: 40px;
    border-bottom: 3px solid #08091a;
    border-radius: 4px;
    padding: 12px;
    background: shared.$gray100;
    cursor: pointer;
    img {
      width: 16px;
      height: 16px;
      filter: brightness(15);
    }
  }
}
