@use "../../../../assets/shared";

.game-reactions {
  width: 163px;
  height: 69px;
  background: shared.$vanilla20;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  p {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: shared.$gray100;
  }
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    button {
      background: none;
      border: none;
      cursor: pointer;
      img {
        width: 22px;
        height: 22px;
        &:hover {
          transform: scale(1.1);
        }
      }
      &.disable {
        img {
          filter: brightness(0.5);
          &:hover {
            transform: none;
          }
        }
      }
    }
  }

  &__preview {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    width: 70px;
    height: 70px;
    transform: translateY(-100px);
    &.show {
      visibility: visible;
    }
  }
}
