@use "../../../assets/shared";

.wrapper-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  min-height: inherit;
  height: 100%;
  &__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: shared.$gray100;
  }
  &__loader {
    width: 48px;
    height: 48px;
    border: 2px solid shared.$gray100;
    background: shared.$vanilla20;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  &__loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 0;
    background: shared.$vanilla100;
    width: 3px;
    height: 24px;
    transform: translateX(-50%);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
