@use "../../../assets/shared";

.arrow-button-back {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 15px;
  background: shared.$gray100;
  border-bottom: 3px solid #08091a;
  border-radius: 4px;
  padding: 8px 12px;
  color: shared.$white;
  width: fit-content;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  img {
    width: 16px;
    height: 16px;
  }
}
