@use "../../../assets/shared";

.local-game {
  &__modal {
    h4,
    p {
      text-align: center;
      color: shared.$gray100;
    }
    h4 {
      font-weight: 800;
      font-size: 20px;
      line-height: 27px;
    }
    p {
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      margin-top: 8px;
      margin-bottom: 25px;
    }
    &__links {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }
}
