$white: #ffffff;
$black: #000;
$gray100: #313253;
$gray80: #5a5b75;
$gray50: #9293a3;
$gray20: #ceced5;
$gray10: #eaebee;
$bg: #faf8f0;
$vanilla100: #dcc9b5;
$vanilla50: #ebe0d2;
$vanilla20: #f5f1e7;
$red: #d22626;
$blue: #3396bb;
$green: #71b157;
$footer: #d6d6dd;
