@use "../../../assets/shared";

.custome-btn {
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: shared.$gray100;
  &.dark {
    color: shared.$white;
    background: shared.$gray100;
    border: 1px solid shared.$gray100;
    border-bottom: 2px solid #08091a;
    &:hover {
      color: shared.$gray100;
      background: shared.$white;
    }
  }
  &.white {
    color: shared.$gray100;
    background: shared.$white;
    border: 1px solid shared.$gray100;
    border-bottom: 2px solid #08091a;
    &:hover {
      color: shared.$white;
      background: shared.$gray100;
    }
  }
  &.link {
    text-decoration: none;
    text-align: center;
  }
  &.hidden {
    visibility: hidden;
    pointer-events: none;
  }

  &:disabled {
    cursor: default;
  }
}
