@use "../../../assets/shared";

.home {
  hr {
    border-radius: 24px;
    background: shared.$vanilla50;
    border: 1px solid shared.$vanilla50;
    margin: 8px 0;
  }

  &__content {
    min-height: 29rem;
  }

  &__qa {
    display: flex;
    gap: 65px;
    &__block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 8px;
      h4 {
        font-weight: 800;
        font-size: 20px;
        line-height: 27px;
        color: shared.$gray100;
      }
      p {
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: shared.$gray100;
      }
      &__text {
        display: flex;
        align-items: center;
        gap: 8px;
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  &__rules {
    h4 {
      font-weight: 800;
      font-size: 20px;
      line-height: 27px;
      color: shared.$gray100;
    }
    * {
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      color: shared.$gray100;
    }
    ol {
      margin-left: 1rem;
    }
  }
}
