@use "../../../../assets/shared";

.play-history {
  background: shared.$vanilla20;
  border-radius: 4px;
  padding: 8px;
  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    img {
      width: 20px;
      height: 20px;
    }
    p {
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
    }
  }
}
