@use "../../../../assets/shared";

.optionsList {
  background: shared.$vanilla20;
  border-radius: 4px;
  padding: 8px;
  * {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: shared.$gray100;
  }
  & > p {
    margin-bottom: 8px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    &__item {
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      background: transparent;
      border: none;
      &_circle {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid shared.$gray100;
        border-radius: 50%;
        span {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: transparent;
        }
      }
      &.active &_circle {
        span {
          background: shared.$gray100;
        }
      }
    }
  }
}
