.game-layout {
  display: grid;
  grid-template-columns: 160px 1fr 160px;
  gap: 15px;
  margin: 30px 0;

  &__leftArea,
  &__rightArea {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__centralArea {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
