@use "../../../../assets/shared";

.invitation-sender {
  display: flex;
  flex-direction: column;
  gap: 24px;
  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: shared.$gray100;
  }
  &__btn {
    align-self: flex-end;
  }
}
