@use "../../../assets/shared";

.form_input {
  position: relative;
  label {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    display: block;
    color: shared.$gray100;
    margin-bottom: 4px;
  }
  input {
    width: 100%;
    outline: none;
    border: 1px solid shared.$gray100;
    padding: 10px;
    color: shared.$gray100;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    border-radius: 4px;
    &::placeholder {
      color: shared.$gray50;
    }
  }

  .validate__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 4px;
    column-gap: 10px;
    width: 70%;
    margin-left: 14px;
    margin-top: 4px;
    li {
      font-weight: 400;
      font-size: 8px;
      line-height: 10px;
      color: shared.$gray100;
    }
    &__item-ok {
      color: shared.$green !important;
    }
    &__item-err {
      color: shared.$red !important;
    }
  }

  &-err {
    color: shared.$red !important;
    border-color: shared.$red !important;
  }

  &__eyeBtn {
    all: unset;
    position: absolute;
    cursor: pointer;
    top: 2.2rem;
    right: 0.5rem;
  }
}
