@use "../../assets/shared";

.terms_conditions {
  h1,
  h2 {
    color: shared.$gray100;
  }
  h1 {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 25px;
    margin-top: 30px;
  }
  h2 {
    color: shared.$black;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 15px;
  }
  p,
  ul > li {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
  }
  ul {
    margin-left: 1.2rem;
  }
  &__block {
    margin-bottom: 30px;
  }
}
