@use "../../assets/shared";

.leader-board {
  hr {
    border-radius: 24px;
    background: shared.$vanilla50;
    border: 1px solid shared.$vanilla50;
    margin: 30px 0;
  }
  & > * {
    h3,
    h4 {
      font-weight: 800;
      font-size: 20px;
      line-height: 27px;
      color: shared.$gray100;
      margin-bottom: 15px;
    }
  }

  &__users {
    &__list {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
  &__emptyList {
    & > * {
      text-align: center;
      color: shared.$gray100;
      line-height: 27px;
    }
    h3 {
      font-weight: 800;
      font-size: 18px;
    }
    p {
      font-weight: 700;
      font-size: 16px;
    }
  }
}
