@use "../../assets/shared";

.home-welcome {
  &__title {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: shared.$gray100;
    text-align: center;
  }
  &__board {
    margin: 30px auto;
    padding: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }
  &__playBtns {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(49, 50, 83, 0.5);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  &__modal {
    h4 {
      font-weight: 800;
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      color: shared.$gray100;
    }
    &__links {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 25px;
    }
  }
}
