@use "../../assets/shared";

.footer {
  background: shared.$gray100;
  color: shared.$footer;
  height: 133px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  margin-top: 30px;
  &__info {
    p {
      margin-top: 15px;
      font-weight: 700;
      font-size: 10px;
      line-height: 14px;
    }
  }
  &__media {
    &_icons {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    &_links {
      margin-top: 13px;
      a {
        text-decoration: none;
        color: shared.$footer;
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}
