@use "../../assets/shared";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(49, 50, 83, 0.5);
  &__content {
    min-width: 400px;
    min-height: 10rem;
    background: #faf8f0;
    position: relative;
    padding: 25px 8px;
    border-radius: 8px;
    animation: 0.4s linear open;
  }
  &__closeBtn {
    all: unset;
    position: absolute;
    right: -2rem;
    top: 0;
    cursor: pointer;
  }
}

@keyframes open {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
