@use "../../../../assets/shared";

.initation-timer {
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: shared.$gray100;
  }
  &__range {
    width: 100%;
    height: 3px;
    background: shared.$vanilla50;
    border-radius: 56px;
    display: flex;
    justify-content: flex-start;
    span {
      height: 100%;
      border-radius: 56px;
      background: shared.$vanilla100;
    }
  }
}
