@use "../../../assets/shared";

.auth_form {
  max-width: 348px;
  margin: 0 auto;
  &__links {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    a {
      flex: 1;
      text-align: center;
      text-decoration: none;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: shared.$gray50;
      border-bottom: 2px solid shared.$gray50;
      padding: 8px 0;
      &.active {
        border-color: shared.$gray100;
        color: shared.$gray100;
      }
      &:hover {
        color: shared.$gray100;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .link {
    margin-top: 25px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: shared.$gray100;
    text-align: center;
    a {
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      text-decoration: none;
      color: shared.$blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    * {
      text-align: center;
      color: shared.$gray100;
    }
    img {
      width: 50px;
      height: 50px;
    }
    h4 {
      font-weight: 800;
      font-size: 20px;
      line-height: 27px;
    }
    p {
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
    }
    a {
      text-decoration: none;
      color: shared.$blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
