@use "../../../../assets/shared";

.leader-board__item {
  background: shared.$vanilla20;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 24px;
  column-gap: 24px;
  row-gap: 5px;
  flex-wrap: wrap;
  &__btn {
    margin-left: auto;
  }
  &__wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 24px;
    row-gap: 5px;
    flex-wrap: wrap;
  }

  &-left-side,
  &-right-side {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: flex-start;
  }
  &-right-side {
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__topRaiting {
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    color: shared.$gray100;
  }
  &__photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: shared.$gray50;
  }
  &__raiting {
    display: flex;
    flex-direction: column;
    gap: 4px;
    p {
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      color: shared.$gray100;
    }
    &__info {
      display: flex;
      align-items: center;
      gap: 4px;
      img {
        width: 21px;
      }
      p {
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
        color: shared.$gray100;
      }
    }
  }
  &__history {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
    row-gap: 5px;
    flex-wrap: wrap;
    &__item {
      display: flex;
      align-items: center;
      gap: 8px;
      img {
        width: 20px;
        height: 20px;
      }
      p {
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        color: shared.$gray100;
      }
    }
  }
}
