@use "../../../assets/shared";

.full-page-error {
  background: shared.$bg;
  color: shared.$red;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
