@use "./assets/shared";

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: shared.$bg;
  background-image: url(./assets/images/left_bg.png), url(./assets/images/right_bg.png);
  background-repeat: no-repeat;
  background-position: left, right;
  background-attachment: fixed;
  overflow: overlay;
}

.layout {
  width: 708px;
  min-height: 90vh;
  margin: 0 auto;
}
