@use "../../assets/shared";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  margin-bottom: 30px;
  border-bottom: 2px solid shared.$gray100;
  a {
    color: shared.$gray100;
    text-decoration: none;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 22px;
    font-size: 1rem;
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    a {
      display: flex;
      align-items: center;
      gap: 5px;
      border-left: 2px transparent solid;
      &:not(.active):hover {
        border-left-color: shared.$gray100;
      }
      &.active {
        border-left-color: shared.$gray100;
      }
    }
  }
  &_auth {
    display: flex;
    align-items: center;
    gap: 5px;
    a {
      img {
        transition: transform 0.3s ease-in;
      }
      &:hover {
        text-decoration: underline;
        img {
          transform: rotateZ(90deg);
        }
      }
    }
  }
}
