@use "../../assets/shared";

.sing-up {
  &__checkbox {
    display: flex;
    align-items: center;
    gap: 4px;
    input {
      width: 12px;
      height: 12px;
      border: 1.5px solid shared.$gray100;
      border-radius: 2px;
      accent-color: shared.$gray100;
    }
    * {
      font-weight: 700;
      font-size: 12px;
      line-height: 18px;
      color: shared.$gray100;
    }
    a {
      text-decoration: none;
      color: shared.$blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
