@use "../../../../assets/shared";

.invitation-find-friend {
  width: 660px;

  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: shared.$gray100;
  }
  &__search {
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid shared.$gray100;
    border-radius: 4px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr auto;
    & > * {
      border: none;
      background: transparent;
      outline: none;
    }
    input {
      padding: 10px 0 10px 10px;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      color: shared.$gray100;
      background: shared.$vanilla20;
      &::placeholder {
        color: shared.$gray50;
      }
    }
    button {
      padding: 8px 16px;
      background: shared.$gray100;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        svg {
          transform: scale(1.1);
        }
      }
      &:active {
        svg {
          transform: scale(0.9);
        }
      }
    }
  }
  &__users {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 8px;
  }
}
