@use "../../assets/shared";

.board {
  display: grid;
  grid-template-columns: repeat(3, 108px);
  grid-template-rows: repeat(3, 108px);
  gap: 12px;
  justify-content: space-between;
  position: relative;
  justify-items: center;
  align-items: center;
  &__item {
    border: none;
    background: shared.$vanilla100;
    border-bottom: 2px solid #967552;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    &:hover {
      background: darken($color: shared.$vanilla100, $amount: 10);
    }
    & > img {
      width: 60px;
      height: 60px;
    }
  }
  &__status {
    background: linear-gradient(180deg, rgba(49, 50, 83, 0.5) 0%, rgba(49, 50, 83, 0) 84.77%);
    border-radius: 8px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 35px;
    padding-top: 15px;
    p {
      color: shared.$white;
      font-weight: 800;
      font-size: 24px;
      line-height: 33px;
    }
  }

  &__line {
    position: absolute;
    transform: rotateZ(0deg) scale(1.1);
  }
}
