@use "../../../../assets/shared";

.invitation-recipient {
  display: flex;
  flex-direction: column;
  gap: 24px;
  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: shared.$gray100;
  }
  &__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}
